@import "tailwindcss";

/* Import all weights of Vazirmatn from npm */
@import "@fontsource/vazirmatn/400.css";
@import "@fontsource/vazirmatn/700.css";

html {
  direction: rtl;
  font-family: 'Vazirmatn', sans-serif;
}

body {
  margin: 0;
}